doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(href='styles.css' rel='stylesheet')
  body
    div
      h1 DEV-PROD-SERVER
      table(border='1')
        tbody
          tr
            td
              ul
                li И ты будешь волков на земле плодить.
                li И учить их вилять хвостом.
                li А то, что за это придеться платить.
                li Так ведь ЭТО: Пойми!!!
                li ПОТОМ!!!