h1 {
    color: white; /* Цвет текста */
    font-size: 36px; /* Размер шрифта */
    /* Другие стили, если необходимо */
}

body {
    background-image: url(img/back_ground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
